<main>
    <div class="row">
        {{#with main}}
            <div class="col-6">
                <div class="mt-5">
                    <h1>{{title}}</h1>
                </div>
                <div>
                    <p>{{about}}</p>
                </div>
                {{#each listPages}}
                    <div class="mb-2">
                        <a href="{{link}}" class="btn btn-primary">{{name}}</a>
                    </div>
                {{/each}}
            </div>
        {{/with}}
    </div>
</main>